ion-card.custom-card {
    text-align: center;
    max-width: 300px; /* Ancho máximo de la tarjeta según tu preferencia */
    margin: 0 auto; /* Centra la tarjeta horizontalmente */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    margin-top: 20vh;
  }
  
  ion-card-header {
    background: #007bff; /* Color de fondo del encabezado de la tarjeta */
    color: white; /* Color del texto en el encabezado */
  }
  
  ion-card-title {
    font-size: 24px; /* Tamaño del título */
  }
  
  ion-item {
    margin-bottom: 16px; /* Espacio entre elementos del formulario */
  }
  
  ion-input {
    font-size: 16px; /* Tamaño de fuente del formulario */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  ion-button {
    --background: #007bff; /* Color de fondo del botón */
    color: white; /* Color del texto en el botón */
    margin-top: 16px; /* Espacio entre botones */
  }
  
  ion-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Centra verticalmente el contenido */
  }
  