<ion-header>
  <ion-toolbar>
    <ion-title>
      Restablecer Contraseña
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="custom-card">
    <ion-card-header>
      Restablecer Contraseña
    </ion-card-header>
    <ion-card-content>
      <ion-img src="assets/icon/clave.png" alt="Imagen de Restablecer Contraseña"></ion-img>
      <ion-item>
        <ion-label position="floating">Nombre de Usuario</ion-label>
        <ion-input [(ngModel)]="username" type="text"></ion-input>
      </ion-item>
      <ion-button expand="full" (click)="requestPasswordReset()">RECUPERAR</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="passwordReset" class="custom-card">
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Nueva Contraseña</ion-label>
        <ion-input [(ngModel)]="newPassword" type="password"></ion-input>
      </ion-item>
      <ion-button expand="full" (click)="resetPassword()">Guardar Contraseña</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
