<ion-header>
  <ion-toolbar>
    <ion-title>Control de Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>Sección: {{ seccion.nombre }}</h2>
  <h3>Profesor: {{ profesor.nombre }}</h3>
  <h4>Clase: {{ clase.nombre }}</h4>

  <ion-list>
    <ion-item *ngFor="let alumno of alumnos">
      <ion-label>{{ alumno.nombre }}</ion-label>
      <ion-checkbox [(ngModel)]="alumno.presente" (ionChange)="marcarAsistenciaAlumno(alumno.id, alumno.presente)"></ion-checkbox>

    </ion-item>
  </ion-list>
</ion-content>