<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Bienvenido
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Bienvendo</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="card"> 
    <ion-card class="con">

      <img alt="home" src="assets/icon/ini.png" />
      <ion-card-header>
        <ion-card-title>Ingrese</ion-card-title>
        <ion-card-subtitle>Escoja su usuario</ion-card-subtitle>
      </ion-card-header>

        <ion-button [routerLink]="['/login']">Docente</ion-button>
        <ion-button [routerLink]="['/login']">Alumno</ion-button>
      <ion-card-content>
         RegisterApp plataforma donde podras registrar tu propia asistencia 
      </ion-card-content>
    </ion-card>


  </div>
</ion-content>