/* Estilos para centrar el contenido .card en el centro de la página */
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  height: 100vh;
}

/* Estilos adicionales para ajustar el contenido de la tarjeta */
.con {
  max-width: 100%;
}

