<ion-header>
  <ion-toolbar>
    <!-- <ion-title>Bienvenido, {{ username }}</ion-title> -->
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        Cerrar Sesión
      </ion-button>
    </ion-buttons>

    <ion-split-pane when="xs" contentId="main">
      <ion-menu contentId="main">
        <ion-header>
          <ion-toolbar color="tertiary">
            <ion-title>Menu</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding"> Menu Content </ion-content>
      </ion-menu>
    
      <div class="ion-page" id="main">
        <ion-header>
          <ion-toolbar>
            <ion-title>Bienvenido, {{ username }}</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding"> Main View Content </ion-content>
      </div>
    </ion-split-pane>
  </ion-toolbar>

</ion-header>