<ion-split-pane when="xs" contentId="main">
  <ion-menu contentId="main">
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-title>Alumno</ion-title>
      </ion-toolbar>
      <div id="nombres">
        <ion-note >nat.pino@duocucc.cl</ion-note>
      </div>
      
    </ion-header>
    <ion-content class="ion-padding"> Content </ion-content>
  
       

  </ion-menu>

  <div class="ion-page" id="main">
    <ion-header>
      <ion-toolbar>
        <ion-title>Main View</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding"> Main View Content </ion-content>
  </div>
</ion-split-pane>