// Estilos generales para centrar la página
ion-header, ion-toolbar, ion-title {
    text-align: center; // Centrar el título en el encabezado
  }
  

  
  ion-card-header {
    text-align: center; // Centrar el encabezado del card
  }
  
  ion-card-content {
    text-align: center; // Centrar el contenido del card
  }
  
  ion-item {
    margin: 10px 0; // Agregar espacio entre los elementos
  }
  
  ion-button {
    margin-top: 20px; // Agregar espacio superior al botón
  }
  